.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

#myDiv {
    background: url('../img/header_img_02.png') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px -10px;
}

.header {
    /* background-color: #F6F6F6; */
    padding-bottom: 30px;
    /* background-image: url('https://jpoechill.github.io/fcc-portfolio-page/img/unsplash_darkguy-min.jpeg') */
    /* margin-bottom: 50px; */

    height: 390px;
}

.header, .caps {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#row-1 {
    padding-top: 0px;
}

.main {
    /* padding-bottom: 50px; */
    background-color: #F8F8F8;
    padding-bottom: 40px;
}

#projects_top {
    padding-bottom: -10px !important;
    margin-bottom: -10px !important;
}

.main-body {
    padding-top: 14px;
    color: black;
    font-family: 'Crimson Text', serif;
}

#header-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
    text-align: center;

}

#header-body-text {
    font-family: 'Crimson Text', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}

.main, .caps {
    font-family: 'Montserrat', sans-serif;
    /* line-height: 110%; */
}

.main-title-description {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    opacity: .6;
}

.main-body-inner {
    background-color: gray;
}

.main-body-center {
    /* background-color: blue; */
    align-content: center;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    height: 70px;
}

#img-rounded-corners {
    margin-top: 0px;
    margin-bottom: 12px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* float: left; */
    clear: both;
    /* background:rgba(0,0,0,0.6); */
    /* opacity:0; */

}

.nav-social {
    color: white;
}

.p-center {
    text-align: center;
    padding-bottom: 20px;
}

.p-submit-button
 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}

.p-input-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    opacity: .6;
    margin-top: 10px;
    margin-bottom: 0px;
}

.my-btn {
    background: #ffffff !important;
    font-size: 10px !important;
    border-radius: 24px !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 10px 30px 10px 30px !important;
    border: solid #eeeeee 2px !important;
    color: #333333 !important;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px;
    color: black;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif !important;
    /* box-sizing: border-box; */
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px;
    color: black;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif !important;
    /* box-sizing: border-box; */
}

.footer {
    background-color: #FFFFFF;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-body {
    /* height: 100%; */
    color: black;
    font-family: 'Crimson Text', serif;
}

.box {
    padding: 0 35px 0 5px;
}

#caps {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}

#footer-caps {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
}

#caps_body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
}

.image-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* font-weight: bold; */
}

#body-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    opacity: .6;
}

#nav-caps {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    word-spacing: 20px;
}

.fa {
    color: white;
}


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #377BB5;
  border-radius: 4px 4px 4px 4px;
  color: #FFF;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 10px;
  position: relative;
  margin: 0 5px 5px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #3558B4;
  text-decoration: none;
  color: white;
}

.tag:hover::after {
   border-left-color: #3558B4;
}

#body-text-aboutus {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 16px;
    opacity: .6;
}

.myContainer {
    background-color: #F8F8F8;
}

.container-center {
      /* width: 700px ; */
       margin: 0 auto;/*
      width:  800px;
  margin-left: auto ;
  margin-right: auto ; */
}


.technologies {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 6px;
    /* font-weight: lighter; */
}

#body-text-copyright {
    text-align: right;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 16px;
    opacity: .6;
}

hr {
  color: black !important;
  background-color: lightgrey !important;
  height: .1px !important;
}

div.inline {
  float:left;
  margin-right: 10px;
  margin-bottom: 15px;
}

.clearBoth { clear:both; }

 div.outer {
   width: 100%;
   position: relative;
   clear: both;
}

div.innerLeft {
  width: 15%;
  margin-bottom: 18px;
  position: relative;
  float: left;

}

div.innerRight {
  width: 80%;
  margin-left: 10px;
  position: relative;
  float: right;

}