/* Custom style sheet */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
  font-color: red;
  background: url("../images/unsplash_grass.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {

}

/* Header */

.header {
  padding: 30px 0;
  position: relative;
  border: 1px;
}


/* Body */

.sidebar {
  padding: 12px 0 20px 0;
}

.main {
  margin: 10px auto;
  background: #FFF;
  color: #000;
  padding: 8px 0 20px 0;
  text-align: center;
}

.center-image{
  width: 200px;
  margin-bottom: 14px;
}

.main-header-nav {
  vertical-align: text-top;
}

.main h1 {

  font-family: 'Varela Round';
  letter-spacing: 4px;
  font-size: 16px;
  color: #696969;
  margin-bottom: 0px;
}

.main .pers-description {
  font-style: italic;
  font-weight: 300;
}

.main p {
  margin-top: 0px;
  color: #696969;
}

.main p img {
  width: 24px;
  height: 24px;
  margin: 0 0 0 10px;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.main a:hover {
  color: inherit;
}

.main a:visited, a:active {
  text-decoration: none;
}

.main-info h5 {
  text-align: left;
  color: #696969;
}

.main-info .p-header {
  text-align: left;
  font-style: italic;
}

.main-info p {
  text-align: left;
}

.list-group {
  text-align: left;
}

.language-title {
  font-weight: bold;
  margin: 0 0 0 0;
}

.main-footer-small {
  font-size: small;
}

dl dt, dd {
  font-weight: normal;
  text-align: left;
  color: #696969;
}

/* Footer */

.adiv {
  width: 200px;
  height: 200px;
  background-color : transparent;
}

.footer {
  padding: 0px 0;
}

