/* Styles (CSS) for Neighborhood Map App */

#google_map {width: 90%; height: 500px;margin-top:0px;margin-left:auto;margin-right:auto;}
    h1.heading{text-align:center;font: 18px Georgia, "Times New Roman", Times, serif;}
